// src/assets/scss/global.scss

// @forward "variables";

@import './variables';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $color-secondary;
  background-color: $color-primary;

}

