
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0 ;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Inter', sans-serif !important; */
}

.v-application, .v-overlay-container {
  font-family: 'Inter', sans-serif !important;
  background-color: orange !important ;
}